@media screen and (max-width: 1180px) {

    /* form container */
    #search-uni {
        font-size: 17px;
    }

    #search-uni input[type=search] {
        width: 220px;
    }

    #search {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 1140px) {

    /* university-data container */
    .uni-card-data {
        gap: 17px;
        width: 100%;
    }

    .card {
        width: 16.5rem !important;
    }
}

@media screen and (max-width: 1030px) {

    /* university-data container */
    .uni-card-data {
        padding: 25px 10px;
        width: 90%;
        margin: auto;
        gap: 51px;
    }

    .card {
        width: 19rem !important;
    }
}

@media screen and (max-width: 950px) {

    /* form container */
    #search-uni {
        font-size: 16px;
    }

    #search-uni input[type=search] {
        width: 195px;
    }

    /* university-data container */
    .uni-card-data {
        padding: 25px 5px;
        width: 100%;
        margin: auto;
        gap: 25px;
    }

    .card {
        width: 18rem !important;
    }
}

@media screen and (max-width: 800px) {

    /* form container */
    #search-uni {
        flex-direction: column;
        padding: 30px 20px;
    }

    #search-uni input[type=search] {
        width: 75%;
    }

    /* university-data container */
    .uni-data {
        padding: 40px 20px;
    }

    .uni-card-data {
        padding: 25px 0px;
        gap: 15px;
        margin: auto;
        /* justify-content: space-around; */
    }

    .card {
        width: 17rem !important;
    }
}

@media screen and (max-width: 700px) {

    /* university-data container */
    .uni-data {
        padding: 20px 0;
    }

    .uni-card-data {
        gap: 15px;
        width: 90%;
    }

    .card {
        width: 16rem !important;
    }
}

@media screen and (max-width: 651px) {

    /* university-data container */
    .uni-data {
        padding: 20px;
    }

    .uni-card-data {
        justify-content: center;
        /* padding: 20px 0; */
        gap: 25px;
        width: 80%;
    }

    .card {
        width: 21rem !important;
        padding: 25px;
    }
}


@media screen and (max-width: 450px) {

    /* content container */
    .content h1 {
        font-size: 36px;
    }

    /* university-data container */
    .uni-card-data {
        gap: 25px;
        width: 92%;
    }
}

@media screen and (min-height: 1366px) and (max-height: 1369px) {

    /* university-data container */
    .uni-card-data {
        width: 85%;
    }
}


@media screen and (min-height: 1024px) and (max-height: 1025px) {

    /* university-data container */
    .uni-card-data {
        width: 86%;
    }
}

@media screen and (min-height: 800px) and (max-height: 801px) and (min-width: 1280px) and (max-width: 1281px) {

    /* university-data container */
    .uni-card-data {
        width: 90%;
    }
}

@media screen and (min-height: 653px) and (max-height: 654px) {

    /* university-data container */
    .uni-card-data {
        width: 100%;
    }

    .card {
        padding: 10px !important;
    }

    .card-title {
        font-size: 19px;
    }
}