@media screen and (max-width: 1180px) {
    #search-uni {
        font-size: 17px;
    }

    #search-uni input[type=search] {
        width: 220px;
    }

    #search-uni input[type=submit] {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 1140px) {
    .uni-card-data {
        gap: 17px;
        width: 100%;
    }

    .card {
        width: 16.5rem !important;
    }
}

@media screen and (max-width: 1030px) {
    .uni-card-data {
        padding: 25px 10px;
        width: 90%;
        margin: auto;
        gap: 51px;
    }

    .card {
        width: 19rem !important;
    }
}

@media screen and (max-width: 950px) {
    #search-uni input[type=search] {
        width: 195px;
    }

    .uni-card-data {
        padding: 25px 5px;
        width: 100%;
        margin: auto;
        gap: 25px;
    }
    
    .card {
        width: 18rem !important;
    }
}

@media screen and (max-width: 800px) {
    #search-uni {
        flex-direction: column;
        padding: 30px 20px;
    }

    #search-uni input[type=search] {
        width: 75%;
    }
    
    .uni-data {
        padding: 40px 20px;
    }
    .uni-card-data {
        padding: 25px 0px;
        gap: 15px;
        margin: auto;
        /* justify-content: space-around; */
    }

    .card {
        width: 17rem !important;
    }
}

@media screen and (max-width: 700px) {
    .card {
        width: 16rem !important;
        ;
    }
}

@media screen and (max-width: 651px) {
    .uni-data {
        padding: 20px;
    }
    .uni-card-data {
        padding: 0;
        gap: 25px;
        width: 80%;
    }

    .card {
        width: 20rem !important;
        padding: 20px;
    }
}