@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

body {
    background: linear-gradient(0.25turn, teal 5%,antiquewhite 40%,navajowhite 54%, seagreen 88%);
}
.content {
    max-width: 90vw;
    margin: auto;
    padding: 30px 0;
}

.content  h1{
    text-align: center;
}

#search-uni {
    font-size: 18px;
    padding: 50px 20px;
    text-align: center;
    /* border: 2px solid red; */
    background-color: #ebebeb;
    border-radius: 30px;
    margin: 20px auto;
    width: 100%;
}

#search-uni input[type=search] {
    padding: 7px 10px 6px 15px;
    width: 25%;
    border-radius: 10px;
    margin: 0 5px;
    font-size: 16px;
    border: 2px solid #8b8b8b;
}

#search-uni input[type=submit] {
    padding: 5px 35px;
    border-radius: 10px;
    transition: 0.5s ease;
    outline-color: lightcoral ;
}

#search-uni input[type=submit]:hover {
    background-color: black;
    color: white;    
}
.uni-data {
    display: none;
    /* border: 2px solid blue; */
    background: linear-gradient(76deg, #9dc0d5, #dcbcbc);
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    margin: auto;
    border-radius: 22px;
    width: 85%
}