@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

body {
    background: linear-gradient(0.25turn, teal 5%,antiquewhite 40%,navajowhite 54%, seagreen 88%);
}
.content {
    max-width: 90vw;
    margin: auto;
    padding: 30px 0;
}

.content  h1{
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
}

#search-uni {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    padding: 50px 20px;
    /* border: 2px solid red; */
    background-color: #ebebeb;
    border-radius: 30px;
    margin: 35px auto;
    width: 100%;
}

#search-uni input[type=search] {
    padding: 12px 5px 12px 10px;
    width: 245px;
    border-radius: 10px;
    /* margin: 0 5px; */
    font-size: 16px;
    border: 2px solid #8b8b8b;
}

#search {
    padding: 10px 35px;
    border-radius: 10px;
    transition: 0.4s ease;
    border: 2px solid #8b8b8b;
    outline-color: lightcoral ;
}

#search:hover:enabled {
    background-color: black;
    color: white;    
}

.uni-data {
    /* justify-content: center; */
    display: none;
    /* border: 2px solid blue; */
    background: rgba(200, 184, 184, 0.4);
    flex-wrap: wrap;
    gap: 30px;
    transition: 0.7s ease;
    padding: 50px;
    margin: auto;
    border-radius: 22px;
    width: 100%
}

.uni-card-data {
    gap: 30px;
    flex-wrap: wrap;
    width: 86%;
    margin: auto;
}